.caja {
    display: flex;
    padding: 10px;
    margin-left: 50px;
}

.subcaja {
    display: flex;
    height: 30%;

}

.division {
    width: 45%;
    padding: 5px;
    background: linear-gradient(70deg, rgba(8, 8, 8, 0.7), rgba(209, 209, 205, 0.7));
    border-radius: 8px;
    margin: 5px;
    
}

.Tarjeta {
    display: inline-block;
    width: 600px;
    height: 450px;
    background: linear-gradient(70deg, rgba(8, 8, 8, 0.9), rgba(209, 209, 205, 1));
    margin: 10px;
    padding: 10px;
    border-radius: 3%;
    Box-shadow:  3px 6px 15px 4px  rgb(20, 9, 2);
    outline: 2px solid rgb(29, 8, 104);
}

.imagen {
    width: 450px;
    height: 475px;
    border-radius: 3%;
    margin-top: 10px;
    outline: 1px solid rgb(218, 215, 206);
}

.imagen:hover {
    outline: 2px solid goldenrod;
    transform: translate(10px,10px)  
}

.Titulo {
    font-size: 30px;
    font-style: oblique;
    color: white;
    background: rgb(16, 4, 32);
    box-shadow: 4px 3px 15px 4px  rgb(234, 241, 247);
    margin: opx;
    border-radius: 8px;
}
.Titulo:hover {
    background: rgb(32, 1, 1);
}

.descripcion {
    font-size: 14px;
    padding: 4px;
    color: rgb(15, 13, 13);
    height: 45%;
    overflow: auto;
}

.subtitulo {
    font-size: 18px;
    font-style: oblique;
    color: white;
    text-shadow: 4px 3px 15px 4px  rgb(93, 135, 163);
    margin: 0px;;
}

.detalles {
    color: rgb(7, 7, 7);
    margin: 0px;
    font-size: 14px;
}


.rating {
    color:rgb(7, 6, 2);
    margin: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.Retornar {
    margin-top: 5px;
    font-size: 16px;
    color: white;
    background-color: black;
    outline: 2px solid white;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
}

.Retornar:hover {
    color: yellow;
    outline: 2px solid yellow;
}

.Principal {
    display: flex;
    justify-content: center;
}