.tarjeta {
    display: inline-block;
    width: 200px;
    height: 370px;
    background: linear-gradient(70deg, rgba(8, 8, 8, 0.7), rgba(209, 209, 205, 0.7));
    margin: 10px;
    padding: 15px;
    border-radius: 10%;
    Box-shadow:  3px 6px 15px 4px  rgb(20, 9, 2);
    outline: 2px solid rgb(29, 8, 104);
}

.containerTitulo {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(70deg, rgba(7, 2, 17, 0.7), rgba(141, 13, 247, 0.7));
    width: 98%;
    height: 63px;
    border-radius: 15%;
    outline: 1px solid rgb(218, 215, 206);
}

.Titulo {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 7px 9px #000;
    height: 100%;
    border-radius: 15%;
    margin-bottom: 0px;
    text-decoration: none;
}
.imagen {
    width: 98%;
    height: 160px;
    border-radius: 10%;
    margin-top: 10px;
    outline: 1px solid rgb(218, 215, 206);
}
.imagen:hover {
    transform: scale(1.1);   
}
.containerDetalles {
   margin-top: 2px; 
   width: 98%;
   height: 30%; 
   background-color: rgb(74, 75, 72);
}

.detalles {
    height: 100%;
    color:rgb(243, 242, 247);
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.tarjeta:hover {
    outline: 2px solid rgb(242, 241, 245);
}

.subtitulo {
    color:rgb(209, 174, 16);
    font-size: 13px;
    margin: 0px;
}