.Barra {
    background-color: rgb(9, 10, 20);
    width: 100%;
    height: 60px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
}

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(231, 219, 219);
    font-size: 30px;
    padding: 5px;
 
}
.titulo:hover {
    cursor: pointer;
    color: yellow;
}

.searchbarContainer {
   border: 2px solid rgb(18, 107, 45);
   margin-: auto;
}

.divMenu {
   background-color: rgb(7, 9, 15);
   height: 30px;
}

.Menu {
    display: flex;
    margin: 0px;
    padding: 0;
}

.itemsMenu {
    margin-left: 5px;
    padding: 5px;
    color: white;
    background-color: rgb(16, 4, 32);
    width: 90px;
    height: 100%;
    border-radius: 15%;
    Box-shadow:  1px 3px 15px 4px  rgb(207, 200, 218);
    list-style: none;
}

.itemsMenu:hover {
    cursor: pointer;
    color: yellow;
    background-color: black;
    outline: 2px solid rgb(68, 6, 9);
}

